body {
    display: flex;
    flex-direction: column;
    flex: 1 1 100vh;
    margin: 0px;
}

.section {
    height: 560px;
    padding-left: 290px;
    padding-right: 290px;
}

.section.one {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: white;
}

.header {
    display: flex;
    background-color: inherit;
    color: inherit;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 auto;
    padding-top: 10px;
}

.header .right {
    display: flex;
    justify-content: space-around;
    gap: 25px;
}
.header h1 {
    display: flex;
    align-items:flex-start;
    margin: 0px;
    font-size: 24px;
    color: #f9faf8;
}

.header a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.section.one .awesome {
    display: flex;
    padding: 60px 0px;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.awesome .left {
    display: flex;
    flex-direction: column;
    width: 550px;
}

.left h2 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.left p {
    font-size: 18px;
    color: #efe7eb;
    padding-top: 0px;
    margin-top: 0px;
}

.left button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    margin: 1px 0px;
    height: 30px;
    background-color: #3882f6;
    color: white;
    font-weight: 600;
    box-shadow: none;
    border: 0px;
    border-radius: 6px;
}

.awesome .right img {
    width: 550px;
    height: auto;
    background-color: gray;
}
.section.two, .section.four {
    display: flex;
    justify-content: center;
    background-color: white;
}

.section.two, .img-and-text {
    flex-direction: column;
    align-items: center;
}

.two h3 {
    font-size: 36px;
    margin-bottom: 80px;
}

.two .food-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 140px;
    gap: 60px;
}

.single-img p {
text-align: center;
}

.image img {
display: flex;
flex-direction: column;
width: 180px;
height: 180px;
border-style: solid;
border-width: 5px;
border-color: #3882f6;
border-radius: 12px;
}

.section.three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
}

.three .main-text {
    font-size: 36px;
    font-style: italic;
}

.three .name {
    display: flex;
    justify-content: end;
    font-size: 24px;
    font-weight: 600;
}

footer {
    display: flex;
    background-color: #1f2937;
    height: 75px;
    color: #f9faf8;
    justify-content: center;
    align-items: center;
}