body {
    display: flex;
    flex-direction: column;
    flex: 1 1 100vh;
    margin: 0px;
}

.section {
    height: 250px;
}

.section.two, .section.four {
    display: flex;
    background-color: white;
}

.section.one {
    display: flex;
    flex-direction: column;
    background-color: #2f4056;
    color: white;
}

.header {
    display: flex;
    background-color: inherit;
    color: inherit;
    justify-content: space-around;
    align-items: center;
    flex: 0 1 auto;
}

.header .right {
    display: flex;
    justify-content: space-around;
    gap: 25px;
}
.header h1 {
    display: flex;
    align-items:flex-start;
    margin: 0px;
    font-size: 24px;
    color: #f9faf8;
}

.header a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}
.section.three {
    display: flex;
    background-color: gray;
}

footer {
    display: flex;
    background-color: #2f4056;
    height: 75px;
    color: #f9faf8;
    justify-content: center;
    align-items: center;
}