body {
    display: flex;
    flex-direction: column;
    flex: 1 1 100vh;
    margin: 0px;
}

.section {
    min-height: 270px;
    padding-left: 220px;
    padding-right: 220px;
}

.section.one {
    display: flex;
    flex-direction: column;
    background-color: #2f4056;
    color: white;
}

.header {
    display: flex;
    background-color: inherit;
    color: inherit;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 auto;
    padding-top: 10px;
}

.header .right {
    display: flex;
    justify-content: space-around;
    gap: 25px;
}
.header h1 {
    display: flex;
    align-items:flex-start;
    margin: 0px;
    font-size: 24px;
    color: #f9faf8;
}

.header a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.section.one .awesome {
    display: flex;
    padding: 60px 0px;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.awesome .left {
    display: flex;
    flex-direction: column;
    width: 550px;
}

.left h2 {
    font-size: 48px;
    margin-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.left p {
    font-size: 18px;
    padding-top: 0px;
    margin-top: 0px;
}

.left button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    margin: 1px 0px;
    height: 30px;
    background-color: #3882f6;
    color: white;
    font-weight: 600;
    box-shadow: none;
    border: 0px;
    border-radius: 6px;
}

.awesome .right {
    width: 550px;
    height: 300px;
    background-color: gray;
}
.section.two, .section.four {
    display: flex;
    background-color: white;
}

.section.three {
    display: flex;
    background-color: gray;
}

footer {
    display: flex;
    background-color: #2f4056;
    height: 75px;
    color: #f9faf8;
    justify-content: center;
    align-items: center;
}